<div style="background-color: #f0f0f0; width: 400px; margin: auto; padding: 20px; margin-top: 20px;";>
<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field" style="margin-top: 30px;">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions" style="width: 240px; margin: auto; margin-top: 30px;">
    <%= f.submit "Resend confirmation instructions" %>
  </div>
<% end %>
</div>
