<%= image_tag "title.png", class: "title" %>

<% content_for :body_class, "login_body" %>
<div class="banner">
  
  
  <!--
  <div>
    <h2 style="text-align: center;">Muriqui</h4>
    <p style="text-align: center;">Log in or sign in with Facebook</p>
  </div>
-->

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="form-container">
        <div class="inner-form-container">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field" style="color: #f0f0f0;">
      <%= f.label :email %><br />
      <div style="color: #191919">
      <%= f.email_field :email, autofocus: true %>
    </div>
    </div>

    <div class="field" style="color: #f0f0f0">
      
      <%= f.label :password %><br />
      <div style="color: #191919">
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
  </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field" style="color: #f0f0f0"/>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
  </div>

    <div class="actions" style="width: 50px; margin: 0 auto; margin-top: 30px">
      <%= f.submit "Log in" %>
    </div>
    <div class= "link">
    <%= link_to "Forgot Password", "/users/password/new", :method => :get %>
    <br>
    <%= link_to "Sign Up", "/users/sign_up",  class: "link_to", :method => :get %>
    <br>
    <%= link_to "Resend Confirmation Email", "/users/confirmation/new", :method => :get %></div>
  </div>
    </div>
  </div>

    <div class="row">
      
      <%= link_to "", user_omniauth_authorize_path(:facebook), class: 'login_button', :method => :get %>
    </div>
  </div>
  <% end %>
  <script type="text/javascript">
  var height = $(document).height();
  var width = $(document).width();
    $('.login_body').css({"background-size": width+"px"+" "+height+"px"});
  </script>
</div>
