<% assignment.problems.each do |p| %>
	<% if !p.removed %>
		<div class="row">
			<div class="col-md-4 col-md-offset-2">
				<h3>Problem <%= p.number.to_s %><% if p.part %>.<%= p.part.to_s %><% end %></h3>
			</div>

			<div class="col-md-4">
				<% if current_user.admin %>
					<%= button_to "View", problem_path(p), class:"btn btn-success pull-left btn-lg", :method => :get %>
					<%= button_to "Edit", edit_problem_path(p), class:"btn btn-info pull-left btn-lg panel-btn", :method => :get%>
					<%= button_to "Delete", problem_remove_path(p), class:"btn btn-danger pull-left btn-lg panel-btn", :method => :get, remote: true %>
				<% else %>
					<%= button_to "View", problem_path(p), class:"btn btn-success pull-right btn-lg", :method => :get %>
				<% end %>
			</div>
		</div>
	<% end %>
<% end %>
