<h1>New Problem</h1>
<%= form_for @problem, :url => { :action => 'create' } do |form| %>

  <p>
    <%= form.label :number, "Problem Number" %>
    <%= form.number_field :number, min: 1 %>
  </p>

  <p>
    <%= form.label :part, "Part (Optional)" %>
    <%= form.number_field :part, min:1 %>
  </p>

  <p>
    <%= form.label :file_name, "File Name" %>
    <%= form.text_field :file_name %>
  </p>

  <p>
    <%= form.label :function_name, "Function Name" %>
    <%= form.text_field :function_name %>
  </p>

  <p class='buttons'>
    <%= form.submit "Create Problem" %>
  </p>

<% end %>