<%= stylesheet_link_tag "rouge" %>

<div class="page-header row">
	<h1 class="pull-left">Problem <%= @problem.number %><% if @problem.part %>.<%= @problem.part %> <% end %></h1>
	<%= button_to "Test Cases", problem_test_cases_path(@problem.id), :class => 'btn btn-lg btn-success pull-right', :method => :get %>
</div>

<div class="panel panel-warning" id="source">
	<%= render :partial => "test_source", :locals => { problem: @problem } %>
</div>
