
<%= stylesheet_link_tag "rouge" %>
<h1>Problem <%= @problem.number %> <% if @problem.part %> - <%= @problem.part %> <% end %></h1>
<%= button_to "New Test Case", new_problem_test_case_path(@problem), :method => :get %>
<h2>Test Source</h2>
<%= markdown @problem.source %>