<h1><%= @problem.name %></h1>
<%= button_to "New Test Case", new_problem_test_case_path(@problem), :method => :get %>


<%= form_for @source_code, :remote => true do |f| %>
	<%= f.file_field :attachment %>
	<%= f.label :name, "Name" %>
	<%= f.text_field :name %>
	<%= f.hidden_field :problem_id, :value => @problem.id %>
	<%= f.hidden_field :owner_id, :value => @user.id %>
	<%= f.submit "Upload" , :disable_with=>"Uploading..."%>
<% end %>

<div id="upload_result"></div>	