<h1>New Course</h1>
<%= form_for @course, :url => { :action => 'create' } do |form| %>

  <p>
    <%= form.label :code, "Course Code" %>
    <%= form.text_field :code %>
  </p>

  <p>
    <%= form.label :name, "Course Name" %>
    <%= form.text_field :name %>
  </p>

  <p class='buttons'>
    <%= form.submit "Submit new Course" %>
  </p>

<% end %>