<h1>New Test Case</h1>
<%= form_for @test_case, :url => { :action => 'create' } do |form| %>

  <p>
    <%= form.label :input, "Input" %>
    <%= form.text_field :input %>
  </p>

  <p>
    <%= form.label :output, "Output" %>
    <%= form.text_field :output %>
  </p>

  <p class='buttons'>
    <%= form.submit "Create Test Case" %>
  </p>

<% end %>