<!DOCTYPE html>
<html>
<head>
  <title>Muriqui</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class=<%= yield :body_class %>>
  <!-- Navigation bar -->
  <% if current_user %>
    <%= render :partial => "shared/navbar" %>
  <% end %>
  <!-- Actual Content -->
  <div class="container">
    <%= render :partial => "shared/flash_box" %>
    <%= yield %>
  </div>
</body>
<footer class="text-center footer">
  Created by <a href="http://alstonlin.io">Alston Lin</a>.
  Designed by <a href="http://utkarshlamba.com">Utkarsh Lamba</a> and <a href="http://alstonlin.io">Alston Lin</a>.
</footer>
</html>
