<!DOCTYPE html>
<html>
<head>
  <title>Muriqui</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
	<%= yield %>
<% else %>
	<%= button_to "Login with Facebook", "/auth/facebook", :method => :get %>
<% end %>

</body>
</html>
