<div class="container">
  <div class="panel">
    <div class="panel-heading panel-heading-style">
      <h1 class="text-center">Sign up</div>
    </div>
    <div class="panel-body panel-body-style">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, class: "input input-lg" %><br /><br />
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "input input-lg" %><br /><br />
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: "input input-lg" %><br /><br />
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "input input-lg" %><br /><br />
          <div style="width: 27%; margin: 0 auto;">
            <%= recaptcha_tags %>
          </div>
        </div>
        <div class="text-center">
          <%= f.submit "Sign up", class: "btn btn-style btn-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
